* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background-color: beige;
}

h1 {
    width: 100vw;
    text-align: center;
    margin-bottom: 1%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-block {
    margin-bottom: 2%;
    margin-left: 2%;
}

table {
    width: 100vw;
    text-align: center;
    background-color: cadetblue;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

tbody tr:nth-child(odd) {
    background-color: #498b8b;
}

th {
    border: 3px solid black;
}

/* -------------------- HELPERS -------------------- */

.selected {
    background-color: rgb(87, 12, 12) !important;
}