*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.menu {
  height: 100vh;
  
  background-color: #ddc468;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.menuItem a {
  color: #000000;
  text-decoration: none;
  transition: 0.5s all;
  font-size: large;
}

.menuItem a:hover {
  color: #3232f8;
  font-size: x-large;
}

